In [1]:
import pandas as pd
import json
import mysql.connector
import sqlalchemy
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo.mongo_client import MongoClient

In [2]:
with open("file.json", "r") as f:
    file = json.load(f)

In [3]:
file_load = pd.DataFrame(file)
file = file_load.sample(n=9000, random_state=42)

In [4]:
file.shape

(9000, 33)

In [5]:
client = MongoClient("mongodb+srv://x22242520:x22242520@dap.jxbanlr.mongodb.net/")
 
try:
    client.admin.command('ping')
    print("successfull")
except Exception as e:
    print(e)

successfull

In [6]:
db = client["Dap_project"]  # client is defined as dap project
collection = db["nutrition"]     # collection name is 'nutrition'

In [7]:
# conver the dataframe to dictionary and assign it to export variable

upload = file.to_dict("records")

In [8]:
# insert the document to mongodb using insert_many method

collection.insert_many(upload)

In [9]:
# Extract the inserted document from collection

download = collection.find()

In [10]:
# Assign the extracted file to a variable as dataframe and assign ti new variable

nfile = pd.DataFrame(download)

In [11]:

print(nfile.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         27000 non-null  object
 1   YearStart                   27000 non-null  int64
 2   YearEnd                     27000 non-null  int64
 3   LocationAbbr                27000 non-null  object
 4   LocationDesc                27000 non-null  object
 5   Datasource                  27000 non-null  object
 6   Class                       27000 non-null  object
 7   Topic                       27000 non-null  object
 8   Question                    27000 non-null  object
 9   Data_Value_Unit             0 non-null      object
 10  Data_Value_Type             27000 non-null  object
 11  Data_Value                  24429 non-null  float64
 12  Data_Value_Alt              24429 non-null  float64
 13  Data_Value_Footnote_Symbol  2571 non-null   object
 14  Data_Value_Footnote         2571 non-null   object
 15  Low_Confidence_Limit        24429 non-null  float64
 16  High_Confidence_Limit       24429 non-null  float64
 17  Sample_Size                 24429 non-null  float64
 18  Total                       954 non-null    object
 19  Age(years)                  5748 non-null   object
 20  Education                   3798 non-null   object
 21  Gender                      2001 non-null   object
 22  Income                      6702 non-null   object
 23  Race/Ethnicity              7794 non-null   object
 24  GeoLocation                 26484 non-null  object
 25  ClassID                     27000 non-null  object
 26  TopicID                     27000 non-null  object
 27  QuestionID                  27000 non-null  object
 28  DataValueTypeID             27000 non-null  object
 29  LocationID                  27000 non-null  int64
 30  StratificationCategory1     26997 non-null  object
 31  Stratification1             26997 non-null  object
 32  StratificationCategoryId1   26997 non-null  object
 33  StratificationID1           26997 non-null  object
dtypes: float64(5), int64(3), object(26)
memory usage: 7.0+ MB
None

In [12]:
na_val = nfile.isna().sum()

print("Missing values in the DataFrame:")
print(na_val)

Missing values in the DataFrame:
_id                               0
YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               27000
Data_Value_Type                   0
Data_Value                     2571
Data_Value_Alt                 2571
Data_Value_Footnote_Symbol    24429
Data_Value_Footnote           24429
Low_Confidence_Limit           2571
High_Confidence_Limit          2571
Sample_Size                    2571
Total                         26046
Age(years)                    21252
Education                     23202
Gender                        24999
Income                        20298
Race/Ethnicity                19206
GeoLocation                     516
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           3
Stratification1                   3
StratificationCategoryId1         3
StratificationID1                 3
dtype: int64

In [13]:
print(nfile.columns)

Index(['_id', 'YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc',
       'Datasource', 'Class', 'Topic', 'Question', 'Data_Value_Unit',
       'Data_Value_Type', 'Data_Value', 'Data_Value_Alt',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_Limit', 'High_Confidence_Limit ', 'Sample_Size',
       'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [14]:
# Remove columns by index
col = ['LocationAbbr',
       'Data_Value',
       'Data_Value_Unit', 
       'Data_Value_Type',
       'Data_Value_Alt',
       'Data_Value_Footnote_Symbol',
        'Data_Value_Footnote',
        'Total',
        'Class',
        'Age(years)',
        'Education',
        'Gender',
        'Income',
        'Race/Ethnicity',
        'GeoLocation',
        'ClassID',
        'TopicID',
        'QuestionID',
        'DataValueTypeID',
        'LocationID',
        'StratificationCategory1',
        'Stratification1', 
        'StratificationCategoryId1', 
        'StratificationID1']

nfile.drop(columns=col, inplace=True)

In [15]:
print(nfile.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     27000 non-null  object
 1   YearStart               27000 non-null  int64
 2   YearEnd                 27000 non-null  int64
 3   LocationDesc            27000 non-null  object
 4   Datasource              27000 non-null  object
 5   Topic                   27000 non-null  object
 6   Question                27000 non-null  object
 7   Low_Confidence_Limit    24429 non-null  float64
 8   High_Confidence_Limit   24429 non-null  float64
 9   Sample_Size             24429 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 2.1+ MB
None

In [16]:
df

NameError: name 'df' is not defined

In [ ]:
na_val = nfile.isna().sum()

print("Missing values in the DataFrame:")
print(na_val)

In [ ]:
nfile.drop(columns=['_id'], inplace=True)

In [ ]:
nfile.dropna(inplace=True)

In [ ]:
print(nfile.info())

In [ ]:
# new_file = nfile.astype('object')
# print(new_file.info())

In [ ]:
nfile.rename(columns={'YearStart': 'start_research'}, inplace=True)
nfile.rename(columns={'YearEnd': 'end_research'}, inplace=True)
nfile.rename(columns={'LocationDesc': 'state'}, inplace=True)

In [ ]:
# Connecting the mysql server

conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root")

if conn.is_connected():
    print("Successfully connected")

In [ ]:
# droping the database if it is already existed as a precuation

cursor = conn.cursor()
cursor.execute("DROP DATABASE IF EXISTS dap_project")

In [ ]:
# Create database

cursor.execute("CREATE DATABASE dap_project")

In [ ]:
# Use the database by executing sql query

cursor.execute("USE dap_project")

In [ ]:
# Create a table and adding columns using sql query

cursor.execute("""
    CREATE TABLE accident(
        start_research TEXT,  
        end_research TEXT,
        state TEXT,
        Datasource TEXT,
        Topic TEXT,
        Question TEXT,
        Low_Confidence_Limit TEXT,
        High_Confidence_Limit TEXT,
        Sample_Size TEXT
)
""")

In [ ]:
# inserting values to the table

qry = """
    INSERT INTO accident(start_research,  
        end_research,
        state,
        Datasource,
        Topic,
        Question,
        Low_Confidence_Limit,
        High_Confidence_Limit,
        Sample_Size)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [ ]:
# inserting the values row by row

inserted_records_count = 0
cursor = conn.cursor()
for index, row in nfile.iterrows():
    cursor.execute(qry, tuple(row))
    inserted_records_count += 1
conn.commit()

In [ ]:
# Extracting data frm sql and convert it to dataframe

qry = "SELECT * FROM accident"
df = pd.read_sql(qry, conn)

In [ ]:
print(df.info())

In [ ]:
print(df['Topic'].unique())

In [ ]:
print(df['Question'].unique())

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Choose a specific question
specific_question = 'Percent of adults aged 18 years and older who have obesity'

# Filter the DataFrame for the specific question
specific_question_data = df[df['Question'] == specific_question]

# Convert Data_Value to string, remove percentage symbols, and convert to float
specific_question_data['High_Confidence_Limit'] = specific_question_data['High_Confidence_Limit'].astype(str).str.rstrip('%').astype(float)

# Calculate mean data values for the specific question by location
mean_data_values_by_location = specific_question_data.groupby('state')['High_Confidence_Limit'].mean()

# Select the top 10 states based on mean data values
top_10_states = mean_data_values_by_location.nlargest(5)

# Plot the comparison using a bar plot
plt.figure(figsize=(10, 8))

# Iterate over the top 10 states
for state in top_10_states.index:
    # Filter data for the current state
    state_data = specific_question_data[specific_question_data['state'] == state]
    # Calculate mean data values by year for the current state
    mean_data_values_by_year = state_data.groupby('start_research')['High_Confidence_Limit'].mean()
    # Plot the mean data values for the current state
    plt.plot(mean_data_values_by_year.index, mean_data_values_by_year.values, marker='o', label=state)

plt.title('Percent of adults aged 18 years and older who have obesity in Top 5 states')
plt.xlabel('Year')
plt.ylabel('Percentage')
plt.xticks(rotation=45, ha='right')
plt.legend(title='State', loc='upper left')
plt.grid(True)
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Choose a specific question
specific_topic = 'Percent of adults who report consuming vegetables less than one time daily'

# Filter the DataFrame for the specific question
specific_question_data = df[df['Question'] == specific_question]

# Convert Data_Value to string, remove percentage symbols, and convert to float
specific_question_data['High_Confidence_Limit'] = specific_question_data['High_Confidence_Limit'].astype(str).str.rstrip('%').astype(float)

# Calculate mean data values for the specific question by location
mean_data_values_by_location = specific_question_data.groupby('state')['High_Confidence_Limit'].mean()

# Select the top 10 states based on mean data values
top_10_states = mean_data_values_by_location.nlargest(5)

# Plot the comparison using a bar plot
plt.figure(figsize=(5, 5))

# Iterate over the top 10 states
for state in top_10_states.index:
    # Filter data for the current state
    state_data = specific_question_data[specific_question_data['state'] == state]
    # Calculate mean data values by year for the current state
    mean_data_values_by_year = state_data.groupby('start_research')['High_Confidence_Limit'].mean()
    # Plot the mean data values for the current state
    plt.plot(mean_data_values_by_year.index, mean_data_values_by_year.values, marker='o', label=state)

plt.title('Percent of adults who report consuming vegetables less than one time daily in Top 5 states')
plt.xlabel('Year')
plt.ylabel('Percentage')
plt.xticks(rotation=45, ha='right')
plt.legend(title='State', loc='upper left')
plt.grid(True)
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Choose a specific question
specific_question = 'Percent of adults who report consuming vegetables less than one time daily'

# Filter the DataFrame for the specific question
specific_question_data = df[df['Question'] == specific_question]

# Convert Data_Value to string, remove percentage symbols, and convert to float
specific_question_data.loc[:, 'High_Confidence_Limit'] = specific_question_data['High_Confidence_Limit'].astype(str).str.rstrip('%').astype(float)

# Calculate mean data values for the specific question by location
mean_data_values_by_location = specific_question_data.groupby('state')['High_Confidence_Limit'].mean()

# Select the top 5 states based on mean data values
top_5_states = mean_data_values_by_location.nlargest(5)

# Plot the comparison using a bar plot
plt.figure(figsize=(5, 5))

# Iterate over the top 5 states
for state in top_5_states.index:
    # Filter data for the current state
    state_data = specific_question_data[specific_question_data['state'] == state]
    # Calculate mean data values by year for the current state
    mean_data_values_by_year = state_data.groupby(state_data['start_research'].dt.year)['High_Confidence_Limit'].mean()
    # Plot the mean data values for the current state
    plt.bar(mean_data_values_by_year.index, mean_data_values_by_year.values, label=state)

plt.title('Percent of adults who report consuming vegetables less than one time daily in Top 5 states')
plt.xlabel('Year')
plt.ylabel('Percentage')
plt.xticks(rotation=45, ha='right')
plt.legend(title='State', loc='upper left')
plt.grid(True)
plt.show()